#container {
  /* To create the column layout. */
  display: flex;

  /* To make the container relative to its children. */
  position: relative;
}

#container .ck.ck-editor {
  /* To stretch the editor to max 700px
        (just to look nice for this example but it can be any size). */
  width: 100%;
  max-width: 700px;
}

.App {
  background: darkgray;
  display: flex;
}

.content-container {
  max-width: 80%;
}

#sidebar {
  background: purple;
  position: relative;
  width: 20%;
}

#content {
  background: red;
}

#header {
  background: yellow;
}

.demo-row {
  display: flex;
  justify-content: center;
}

#footer-left {
  background: blue;
  flex-grow: 1;
}

#footer-right {
  background: green;
  flex-grow: 1;
}
