.App {
  background: darkgray;
  display: flex;
}

#container {
  width: 100%;
  position: relative;
}

#container .ck.ck-editor {
  width: 100%;
  max-width: 700px;
}

#sidebar {
  background: purple;
  min-width: 300px;
}

#content {
  background: red;
}

#header {
  background: yellow;
}

.demo-row {
  display: flex;
  justify-content: center;
}

#footer-left {
  background: blue;
  flex-grow: 1;
}

#footer-right {
  background: green;
  flex-grow: 1;
}
